.phone_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
  gap: 0.5em;
}

.phone_form input {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  padding: 0.85em 1.5em;
  border-radius: 1em;
  width: 30%;
  border: 1px solid whitesmoke;
}

.phone_form select {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  padding: 0.85em 1.5em;
  border-radius: 1em;
  width: 30%;
  border: 1px solid whitesmoke;
}

.phone_form label {
  padding: 0.85em 1.5em;
  font-weight: 700;
  font-size: 1.2em;
  width: 30%;
}

button {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 20%;
  padding: 0.85em 2em;
  border-radius: 2.5em;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 1.1em;
  background-color: yellow;
}
